/*Colors*/

$white: #ffffff;
$light: #f9f9f9;
$dark: #18181b;
$primary: #6c5fbc;
$primaryLight: #dbd9ee;
$secondary: #606060;
$third: #cbcbcb;
$fourth: #eaeaea;
$fifth: #999999;
$seventh: #c5bfed;
$eighth: #676767;
$ninth: #cbcbcb;
$tenth: #323142;
$cardFirst: #f7edd0;
$cardTextFirst: #daa31a;
$cardSecond: #f7c5ba;
$cardTextSecond: #fb471d;
$cardTime: #8e97a6;
$linkLight: #acadb9;

/*Variables*/
$size: calc(100vw - 375px) / 1065;
