/*Colors*/

$white: #ffffff;
$whiteSecondary: #edf2f7;
$light: #f9f9f9;
$dark: #18181b;
$primary: #6c5fbc;
$primaryLight: #dbd9ee;
$secondary: #606060;
$third: #cbcbcb;
$fourth: #eaeaea;
$fifth: #999999;
$seventh: #c5bfed;
$eighth: #676767;
$ninth: #cbcbcb;
$tenth: #323142;
$eleventh: #f4f4f6;
$twelfth: #a0aec0;
$thirteenth: #1a202c;
$cardFirst: #f7edd0;
$cardTextFirst: #daa31a;
$cardSecond: #f7c5ba;
$cardTextSecond: #fb471d;
$cardThird: #c4fedb;
$cardTextThird: #309d5b;
$cardTime: #8e97a6;
$linkLight: #acadb9;
$heartRed: #f1534e;
$titleText: #201f1f;
$shadowChart: #1a202c26;

/*Shadow*/
$shadowPrimary: 7px 82px 41px 0px rgba(229, 229, 229, 0.7);
$shadowSecondary: 10px 13px 26px 0px $shadowChart;

/*Variables*/
$size: calc(100vw - 375px) / 1545;
$widthButtonCount: 35px;
