/*Colors*/

$white: #ffffff;
$light: #f9f9f9;
$dark: #18181b;
$primary: #6c5fbc;
$secondary: #606060;
$third: #cbcbcb;
$fourth: #eaeaea;
$fifth: #999999;
$seventh: #c5bfed;
$eighth: #676767;

/*Variables*/
$size: calc(100vw - 375px) / 1065;
