@import './reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
  font-family: 'Poppins', sans-serif;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: $white-100;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $violet-800;
    border-radius: 100px;
  }
}

.container {
  max-width: 1248px;
  margin: 0 auto;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.desktop {
}

.mobile {
  display: none;
}

.page {
  background: $white-100;
}
